{% block info_aside_button %}
    <a href="{{ info_path }}">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-flag"></i> {{ info_text }}
        </button>
    </a>
{% endblock info_aside_button %}

{% block info_aside %}
    <div class="panel panel-default panel-checks">
        <div class="panel-body">
            {% set info_path = path('systeminfo', {'all': true}) %}
            {% set info_text = __('page.info.show-all') %}
            {{ block('info_aside_button') }}
        </div>
    </div>
{% endblock info_aside%}
